.category-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 5rem);
    box-sizing: border-box;
    background: #2C3335;
}

@media (max-width: 768px) {
    .category-container {
        flex-direction: column;
    }
    .left-column,
    .right-column {
        flex: 1;
        overflow-y: auto;
    }
}
