.item-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-image-1 {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}