.explore-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 5rem);
    box-sizing: border-box;
    background: #2C3335;
}
.left-column {
    flex: 0.7;
    border: 1px solid #CCC;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.first-row {
    flex: 0.3;
    box-sizing: border-box;
}
.horizontal-line {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #CCC;
}
.second-row {
    flex: 0.7;
    box-sizing: border-box;
}
.right-column {
    flex: 0.3;
    border: 1px solid #CCC;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cart-summary-container {
    flex: 0.3;
    border-top: 1px solid #CCC;
}
.cart-item {
    background: #2C2C2C;
    padding: 12px;
    border-radius: 8px;
}